{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>My library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/library.js' %}"></script>
</head>

<body>
    <section class="container-fluid">
        <div id="search" class="input-group" style="padding-bottom: 1rem; width: 20rem;">
            <div class="input-group-prepend">
                <span class="input-group-text">Search</span>
            </div>
            <input id="searchbar" type="text" aria-label="Search" class="form-control">
            <div class="input-group-append">
                <button id="btn-search" class="btn btn-outline-secondary" type="button" id="button-addon2">Search Now !</button>
            </div>
        </div>
        <button id="anime" class="btn btn-primary"> anime </button>
        <button id="programmer" class="btn btn-info"> programmer </button>
        <button id="horror" class="btn btn-danger"> horror </button>
        <div id="total" style="padding-top: 1rem;"></div>
        <div class="scrolling-wrapper">
            <table id="books-table" class="table" style="padding: 3rem;">
                <tbody>
                    <tr class="success" id="preview">
                    </tr>
                    <tr class="success" id="add_favorite">
                    </tr>
                    <tr class="success" id="title">
                    </tr>
                    <tr class="success" id="author">
                    </tr>
                    <tr class="success" id="description">
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>

{% endblock %}