{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/supri_script.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4" style="margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <h1 class="font-weight-bold">Make an appointment here !</h1>
                    <form method="POST">
                        <hr>
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}