{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/supri_script.js' %}"></script>
    
</head>
<body>
    <section\>
        <div class="container-fluid">
            <div class="row form">
                <div class="col">
                    <a style="margin: 1rem" class="btn btn-info" href="/schedule/add/" role="button">Add Schedule</a>
                    <a style="margin: 1rem" class="btn btn-danger" href="/schedule/delete/" role="button">Delete</a>
                    
                    {% if message%}
                        
                        <table class="table">
                            <thead>
                                <th>Nama Kegiatan</th>
                                <th>Jadwal</th>
                                <th>Waktu</th>
                                <th>Tempat</th>
                                <th>Kategori</th>
                            </thead>
                            <tbody>
                                <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
                                {% for i in message %}
                                <tr class="success">
                                    <td> {{i.nama_kegiatan}} </td>
                                    <td> {{i.jadwal}} </td>
                                    <td> {{i.jam}} </td>
                                    <td> {{i.tempat}} </td>
                                    <td> {{i.kategori}} </td>
                                </tr>             
                                {% endfor %}
                            </tbody>
                        </table>
                    
                    {% else %}

                        <hr><h2 align="center">Tidak ada jadwal untuk saat ini.</h2><hr>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}