{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/about.js' %}"></script>
    
</head>
<body>
    <div class="container-fluid" style="font-size: 1.5rem">
        
        <div class="row center">
            <div style="padding-left: 2rem; padding-right: 2rem; padding-top: 2rem;" align="center">
                <img src="../static/images/supri.png" data-toggle="tool" title="yaeay!!" class="img-fluid profile" alt="Responsive image" height=100 width=100>
                <div class="col-sm-4 align-middle header">
                  <h2 style="font-weight: bold"> I'm Supri</h2>
                  <hr>
                  <h3><small class="text-muted">Videographer and Editor</small></h3>
                  <p class="text-justify">I study at University Of Indonesia. My hobby is editing video for excitement. I use premiere pro and after effect as my software preference. Motion graphic is my main goals. Animating is so fun as time goes by. I used to learn animation in youtube. Now, I watch every animation movie that I think it is cool for me.</p>
                    <button type="button" class="btn btn-light" style="margin: 4px;" onclick="test()">Shout Out !</button>
                    <button type="button" class="btn btn-light" style="margin: 4px;">More about me !</button>
                </div>
            </div>
        </div>
        <section>
            <div class="row" id="accordion1">
                <div class="col">
                  <h3 class="font-weight-bold">Skill</h3>
                </div>
            </div>
            <div class="row" id="panel1" style="display: hidden;">
                <div class="col">
                    <p class="text-uppercase">Coding</p>
                    <p class="text-uppercase">Editing</p>
                    <p class="text-uppercase">Designing</p>
                    <p class="text-uppercase">Animating</p>
                </div>
            </div>
        </section>
        <section>
            <div class="row" id="accordion2">
                <div class="col">
                  <h3 class="font-weight-bold">Education</h3>
                </div>
            </div>
            <div class="row" id="panel2">
                <div class="col">
                    <p>SDIT AT-TAUFIQ</p>
                    <p>SMPN 11 DEPOK </p>
                    <p>SMAN 4 DEPOK </p>
                    <p>UNIVERSITAS INDONESIA </p>
                </div>
            </div>
        </section>
        <section>
            <div class="row" id="accordion3">
                <div class="col">
                  <h3 class="font-weight-bold">Experience</h3>
                </div>
            </div>
            <div class="row" id="panel3">
                <div class="col">
                    <p>1. STAFF MEDIA KREATIF PEMIRA</p>
                    <p>2. STAFF DOKUMENTASI WISGAN 2017</p>
                    <p>3. STAFF VISUAL DESIGN COMPFEST X</p>
                    <p>4. STAFF BIRO MEDIA BEM FASILKOM UI 2018</p>
                    <p>5. STAFF DOKUMENTASI WISGEN 2018</p>
                    <p>6. WAKIL PJ DOKUMENTASI PMB 2018</p>
                    <p>7. STAFF DOKUMENTASI OH 2018</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

{% endblock %}