html {
  font-size: 1.1rem;
}

body {
  font-family: verdana;
}

#panel1, #accordion1 {
    padding: 5px;
    text-align: center;
    background-color: #eeeeee;
    opacity: 0.8;
}

.fav-button {
    border-radius: 18px;
    width: 4rem;
    height: 1rem;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#books-table {
  flex: 0 0 auto;
}

#panel1 {
    padding: 50px;
    display: none;
}

#panel2, #accordion2 {
    padding: 5px;
    text-align: center;
    background-color: #eeeeee;
    opacity: 0.8;
}

#panel2 {
    padding: 50px;
    display: none;
}

#panel3, #accordion3 {
    padding: 5px;
    text-align: center;
    background-color: #eeeeee;
    opacity: 0.8;
}

#panel3 {
    padding: 50px;
    display: none;
}

.center {
  opacity: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-direction: reverse;
}

.left {
  padding-top: 6rem;
  left: 0;
  opacity: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-direction: reverse;
}

.right {
  padding-top: 6rem;
  right: 0;
  opacity: 1;
  animation-name: fade;
  animation-duration: 2s;
  animation-direction: reverse;
}


@keyframes fade {
    from {opacity: 1; left: 0;}
    to {opacity: 0;}
}

@keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
}

.profile {
    height: 21.5rem;
    width: 14.5rem;
    bottom: 0;
}

.header {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5rem;
}

.bg-header {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.6;
}

li .nav-item:hover {
  background-color: #555555;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  background-color: #555555;
  color: #ffffff;
  font-weight: bold;
}

.about {
  padding: 2vw;
}

section {
    padding: 2rem;
}

.bg {
        background-image: linear-gradient(90deg, #000000, #666666)
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }

  .about {
    padding-top: 5vw;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }

  .about {
    padding-top: 5vw;
  }

}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }

}